<script>
import { GlAvatarLabeled, GlTruncateText } from '@gitlab/ui';
import SafeHtml from '../directives/safe_html';

export default {
  name: 'ListItem',
  components: {
    GlAvatarLabeled,
    GlTruncateText,
  },
  props: {
    title: {
      type: String,
      required: true
    },
    descriptionHtml: {
      type: String,
      required: false,
      default: ''
    }
  },
  safeHtmlConfig: {
    ADD_TAGS: ['gl-emoji'],
  },
  directives: {
    SafeHtml,
  },
  avatarSize: { default: 32, md: 48 },
  myMethod: (() => {
    return Math.round(Math.random() * 100)
  })
};
</script>

<template>
  <li class="gl-py-3 gl-border-b gl-display-flex gl-align-items-flex-start">
    <gl-avatar-labeled
      :size="$options.avatarSize"
      :src="null"
      :entity-id="$options.myMethod()"
      :entity-name="title"
      :label="title"
      shape="rect"
    >
      <gl-truncate-text :lines="2" :mobile-lines="2">
        <div
          v-if="descriptionHtml"
          v-safe-html:[$options.safeHtmlConfig]="descriptionHtml"
        ></div>
      </gl-truncate-text>
    </gl-avatar-labeled>
  </li>
</template>
