<script>
import ListItem from './components/list_item.vue';

export default {
  name: 'GlTruncateTextBugDemo',
  components: {
    ListItem,
  },
  data() {
    return {
      listItems: [
        {
          id: 'gid://gitlab/Organization/1',
          title: 'My First Organization',
          descriptionHtml:
            '<p>This is where an organization can be explained in <strong>detail</strong></p>',
        },
        {
          id: 'gid://gitlab/Organization/2',
          title: 'Vegetation Co.',
          descriptionHtml: '<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolt   Lorem ipsum dolor sit amet Lorem ipsum dolt  Lorem ipsum dolor sit amet Lorem ipsum dolt  Lorem ipsum dolor sit amet Lorem ipsum dolt Lorem ipsum dolor sit amet Lorem ipsum dolt  Lorem ipsum dolor sit amet Lorem ipsum dolt  Lorem ipsum dolor sit amet Lorem ipsum dolt  Lorem ipsum dolor sit amet Lorem ipsum dolt  Lorem ipsum dolor sit amet Lorem ipsum dol</p>',
        },
        {
          id: 'gid://gitlab/Organization/3',
          title: 'Dude where is my car?',
          descriptionHtml: null,
        },
      ]
    }
  },
};
</script>

<template>
  <main>
    <list-item v-for="item in listItems" :key="item.id" :title="item.title" :description-html="item.descriptionHtml" />
  </main>
</template>
